* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}


#header-section{
	padding: 40px 0 107px;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
}

.header-logo__img{
	height: 48px;
	width: 48px;
}

.nav-main{
	margin-left: auto;
}

.nav-main__list{
	display: flex;
	gap: 48px;
	margin-right: 72px;
    
}


.nav-main__link:hover{
	color: #e00ec7;
}

.shapka{
    height: 400px;
    border-bottom-right-radius: 70px;
}

.nav-main__link{
    color: white;
    text-decoration: none;
}



.title_name{
    color: white;
}

.title_text{
    color: white;
}

.title_img{
	margin-left: 600px;
	margin-top: -40px;
}

.nav-main__item{
	padding-top: 30px;
	font-size: 15px;
}

.social{
	margin-left: 1200px;
	margin-top: -50px;
	padding-right: 30px;
	padding-left: 30px;
}


